@using Microsoft.FluentUI.AspNetCore.Components.Icons

<div class="navmenu">
    <FluentNavMenu Width="250" Title="Race Across America" Collapsible="true" Collapsed="false">
        @* Added Collapsed="true" *@
        <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size24.Home())">Home</FluentNavLink>
        <FluentNavLink Href="/students" Icon="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size24.People())">Students</FluentNavLink>
        <FluentNavLink Href="/admin" Icon="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size24.Settings())">Admin</FluentNavLink>
    </FluentNavMenu>
</div>