@page "/"

<FluentCard>
    <h4>Hello, Fluent World!</h4>
    <p>Race Across America Tracker coming soon.</p>
    <FluentButton Appearance="Appearance.Accent">I'm a Fluent Button</FluentButton>
</FluentCard>
